---
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout title="Anastasia Bessonova">
  <section class="hero">
    <div>
      <h1>Anastasia Bessonova</h1>
      <div class="subtitle">
        Narrative designer
      </div>
      <div class="meta">
        From St. Petersburg, Porto-based
      </div>

      <p style="margin-top:18px">
        Short bio Nastya
      </p>
    </div>

    <div class="hero-image">
      <img src="/renato-portrait-v2.webp" alt="Renato Moreira portrait" />
    </div>
    
  </section>

  <section class="section grid grid-2">
    <a class="card" href="/work">
      <h2>Work / Case Studies</h2>
      <p>description</p>
    </a>
  
    <a class="card" href="/process">
      <h2>Process</h2>
      <p>description</p>
    </a>
    
    <a class="card" href="/about">
      <h2>About</h2>
      <p>description</p>
    </a>
    
    <a class="card card-wide" href="/contact">
      <h2>Contact</h2>
      <p>description</p>
    </a>
  </section>
  

</BaseLayout>
